<!DOCTYPE html>
<html>
<head>
    <title><LOAN-GUARD></LOAN-GUARD></title>
</head>
<body>
    <h2>LOAN-GUARD</h2>
    <form action ="/add " method="POST">
        <label for="input1">Income Per Annum:</label>
        <input type="text" id="input1" name="input1"><br><br>
        
        <label for="input2">Loan Amount:</label>
        <input type="text" id="input2" name="input2"><br><br>
        
        <label for="input3">Loan Term:</label>
        <input type="text" id="input3" name="input3"><br><br>
        
        <label for="input4">Credit Score:</label>
        <input type="text" id="input4" name="input4"><br><br>
        
        <label for="input5">Residential Assets:</label>
        <input type="text" id="input5" name="input5"><br><br>
        
        <label for="input6">Commercial Assets:</label>
        <input type="text" id="input6" name="input6"><br><br>
        
        <label for="input7">Luxury Assets:</label>
        <input type="text" id="input7" name="input7"><br><br>

        <label for="input8">Bank Asset:</label>
        <input type="text" id="input8" name="input8"><br><br>

        <label for="input9">Dependents:</label>
        <input type="text" id="input9" name="input9"><br><br>

        <label for="input12">Loan id:</label>
        <input type="text" id="input12" name="input12"><br><br>

    
        <label for="education">Education:</label>
        <select id="education" name="education">
            <option value="option1">Graduate</option>
            <option value="option2">Not Graduate</option>
            
        </select><br><br>
        
        <label for="employment">Employment:</label>
        <select id="employment" name="employment">
            <option value="option1">Self-Employed</option>
            <option value="option2">Employed</option>
            
        </select><br><br>
        
       
        
        <input type="submit" value="Predict">
    </form>
    
</body>
</html>
