<!DOCTYPE html>
<html>
<head>
    <title>Add Data</title>
</head>
<body>
    <h1>Add Data</h1>
    <form action="/add_data" method="POST">
        
        <label for="loan_id">Loan ID:</label>
        <input type="text" id="loan_id" name="loan_id"><br><br>

        <label for="no_of_dependents">No of Dependents:</label>
        <input type="text" id="no_of_dependents" name="no_of_dependents"><br><br>

        <label for="education">Eductation:</label>
        <input type="text" id="education" name="education"><br><br>

        <label for="self_employed">Self employed:</label>
        <input type="text" id="self_employed" name="self_employed"><br><br>

        <label for="income_annum">Income Annum:</label>
        <input type="text" id="income_annum" name="income_annum"><br><br>

        <label for="loan_amount">Loan Amount:</label>
        <input type="text" id="loan_amount" name="loan_amount"><br><br>

        <label for="loan_term">Loan Term:</label>
        <input type="text" id="loan_term" name="loan_term"><br><br>

        <label for="credit_score">Credit Score:</label>
        <input type="text" id="credit_score" name="credit_score"><br><br>

        <label for="residential_assets_value">Residential Assets:</label>
        <input type="text" id="residential_assets_value" name="residential_assets_value"><br><br>

        <label for="commercial_assets_value">Commercial Assets:</label>
        <input type="text" id="commercial_assets_value" name="commercial_assets_value"><br><br>

        <label for="luxury_assets_value">Lucury Assets:</label>
        <input type="text" id="luxury_assets_value" name="luxury_assets_value"><br><br>

        <label for="bank_asset_value">Bank Assets:</label>
        <input type="text" id="bank_asset_value" name="bank_asset_value"><br><br>

        <input type="submit" value="Submit">
    </form>
</body>
</html>